html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow-y: scroll;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}